*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sec{
    overflow: hidden;
}

.header{
    border-radius: 0 0 0 85px;
    background: url('../image/bg-pattern-intro-desktop.svg');
    background-position: center;
    background-size: 165%;
    background-color: hsl(355, 100%, 74%);
    margin-bottom: 35px;
    height: 80vh;
}

.fs{
    font-size: 75px;
    margin-top: 15px;
}

.two-button{
    gap: 25px;
}

.bg1 {
    margin-bottom: 260px;
}

.future{
    margin-top: 50px;
}

.future h1{
    font-size: 50px;
    word-spacing: 10px;
}

.first-text{
    margin-top: 18%;
}

.first-text :nth-child(1) {
    font-size: 30px;
    color: hsl(208, 49%, 24%);
    font-weight: 500;
}

.first-text :nth-child(2) {
    font-size: 15px;
    color: hsl(208, 49%, 24%);
    width: 43%;
}

.first-text :nth-child(3) {
    font-size: 30px;
    color: hsl(208, 49%, 24%);
    font-weight: 500;
    margin-top: 5%;
}

.first-text :nth-child(4) {
    font-size: 15px;
    color: hsl(208, 49%, 24%);
    width: 42%;
}


.editor-desktop{
    left: 60%;
    bottom: 0;
    display: block;
    margin-bottom: 10%;
}

.editor-mobile {
    display: none;
}
.second-item{
    background: url('../image/bg-pattern-circles.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 70%;
    background-color : hsl(208, 49%, 24%);
    border-radius: 0 100px 0 100px;
    height: 65vh;
}

.phone{
    top: -45px;
    left: 5%;
}

.text2{
    width: 50%;
}

.text2 :nth-child(1){
    margin-top: 85px;
    font-size: 35px;
}

.text2 :nth-child(2) {
    font-size: 15px;
    width: 70%;
    line-height: 35px;
}

.last-item{
    margin-top: 10%;
    margin-bottom: 30%;
}

.laptop{
    right: 47%;
    display: block;
}

.laptop-mobile{
    display: none;
}

.last-text{
    margin-top: 8%;
}

.empty{
    width: 45%;
    display: block;
}

.last-text{
    width: 55%;
    margin-left: 20%;
}

.last-text :nth-child(1){
    font-size: 30px;
    color: hsl(208, 49%, 24%);
    font-weight: 500;
}

.last-text :nth-child(2) {
    font-size: 15px;
    color: hsl(208, 49%, 24%);
    width: 80%;
}

.last-text :nth-child(3) {
    font-size: 30px;
    color: hsl(208, 49%, 24%);
    font-weight: 500;
    margin-top: 5%;
}

.last-text :nth-child(4) {
    font-size: 15px;
    color: hsl(208, 49%, 24%);
    width: 80%;
}

.footer{
    background-color: hsl(208, 49%, 24%);
    border-radius: 0 100px 0 0;
    width: 100%;
    height: 50vh;
    margin-top: 15%;
}

.foot{
    padding: 80px 0 0 100px;
}

@media(max-width:500px){

    .header {
        background-position: center;
        background-size: 375%;
        height: 100vh;
    }

    .fs {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 5px;
        width: 100%;
    }

    .grow{
        font-size: 19px!important;
        margin-top: 10px!important;
    }

    .two-button {
        width: 100%;
        margin-top: 10%;
    }

    .future {
        margin: 70px 0;
    }

    .future h1 {
        font-size: 27px;
        word-spacing: 0;
    }

    .bg1{
        flex-direction: column-reverse;
        margin-bottom: 0;
    }

    .editor-desktop {
      display: none;
    }

    .editor-mobile{
        display: block;
        width: 100%;
        margin: 0 60% 0 10%;
        bottom: 80%!important;
        left: -10%;
    }

    .first-text{
        margin-top: 70%;
        width: 100%;
        text-align: center;
    }

    .first-text :nth-child(1) {
       font-size: 30px;
       width: 100%;
    }

    .first-text :nth-child(2) {
       font-size: 16px;
       width: 100%;
    }

    .first-text :nth-child(3) {
       font-size: 30px;
       margin-top: 10%;
       width: 100%;
    }

    .first-text :nth-child(4) {
       font-size: 16px;
       width: 100%;
       margin-bottom: 80%;
    }

    .second-item {
        background: url('../image/bg-pattern-circles.svg');
        background-position: top,60% ;
        background-repeat: no-repeat;
        background-size: 130%;
        height: 100vh;
        background-color: hsl(208, 49%, 24%);
    }

    .phone{
        width: 100%;
        left: -2%;
        top: -30%;
    }

    .text2-div{
        flex-direction: column;
        width: 100%;
    }

    .text2 {
        width: 100%;
        margin-top: 30%;
        text-align: center;
        padding: 0 20px;

    }

    .text2 :nth-child(1) {
        margin-top: 85px;
        font-size: 35px;
        width: 100%;
    }

    .text2 :nth-child(2) {
        font-size: 15px;
        width: 100%!important;
        line-height: 35px;
    }

    .laptop{
        display: none;
    }

    .lap-div{
        width: 100%;
    }

    .laptop-mobile{
        display: block;
        left: -10%;
        width: 120%;
    }

    .el{
        flex-direction: column;
        width: 100%;
    }

    .last-text{
        margin-top: 90%;
        width: 100%;
        text-align: center;
        margin-left: 0;
        padding: 0 10px;
    }

    .last-text :nth-child(1) {
        font-size: 30px;
        width: 100%;
    }

    .last-text :nth-child(2) {
        font-size: 16px;
        width: 100%;
    }

    .last-text :nth-child(3) {
        font-size: 30px;
        margin-top: 10%;
        width: 100%;
    }

    .last-text :nth-child(4) {
        font-size: 16px;
        width: 100%;
        margin-bottom: 80%;
    }

    .empty {
        width: auto;
        display: none;
    }

    .footer {
        width: 100%;
        height: auto;
        margin-top: -80%;
    
    }



    
}